.ad{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0px, 100px);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) .6s;
}

.ad:hover{
    transform: translate(0, 0);
}

.ad-img{
    position: absolute;
    width: 100%;
    height: 200px;
}

.close-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
}

.close-btn:hover{
    color: red;
}

.close-btn:after{
    font-family: "fontello";
    content: '\e800';
}

.checkbox{
    height: 50%;
    /* display: none; */
}
/* 
.checkbox:checked ~ .close-btn {
    background-color: blue;
    display: none;
}
.checkbox:checked ~ .ad-img {
    display: none;
} */

@font-face {
    font-family: 'fontello';
    src: url('../../fonts/fontello.eot?22568919');
    src: url('../../fonts/fontello.eot?22568919#iefix') format('embedded-opentype'),
         url('../../fonts/fontello.woff2?22568919') format('woff2'),
         url('../../fonts/fontello.woff?22568919') format('woff'),
         url('../../fonts/fontello.ttf?22568919') format('truetype'),
         url('../../fonts/fontello.svg?22568919#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }