<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/slide-ads.css">
    <title>Document</title>
</head>
<body>
    <div class="ad" id="ad">
        <img class="ad-img" src="../imgs/ad-example.gif">
        <button class="close-btn" id="close-btn" type="button" onclick="btnClick()"></button>
    </div>
</body>
</html>

<script type="text/javascript" src="../assets/js/slide-ads.js"></script>